.CenterForm {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 200px;
  margin-left: 200px;
}

/* form  */

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

.form-container label {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 2px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ececec;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="tel"],
.form-container input[type="password"],
.form-container input[type="file"],
.form-container select {
  width: 100%;
  padding: 10px;
  /* margin-bottom: 20px; */
  border-radius: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 30px;
  /* identical to box height, or 24px */

  letter-spacing: 0.02em;
  background: #262626;
  border-radius: 50px;
  color: #828282;
}

.form-container input[type="file"] {
  margin-top: 10px;
}

.form-container div {
  display: flex;
  flex-direction: column;
  column-gap: 30px;
  /* margin-bottom: 20px; */
  width: 100%;
}

.form-container div div {
    display: flex;
    column-gap: 20px;
    flex-direction: row;
}

.form-container div div input[type="text"] {
  width: 48%;
}

.form-container button {
  background: #cbaa5d;
  border-radius: 40px;
}
.form-container span {
  color: white;
}

.password {
  display: flex;
  flex-direction: row !important;
  margin-bottom: 10px;
}
#submit-button {
  font-style: normal;
  font-weight: 550;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  letter-spacing: 0.02em;
  text-transform: uppercase;
  width: 230px !important;
  height: 49px !important;
  background: #cbaa5d;
  opacity: 0.5;
  border-radius: 40px;
}
#submit-button-2{
  font-style: normal;
  font-weight: 550;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  letter-spacing: 0.02em;
  text-transform: uppercase;
  width: 230px !important;
  height: 49px !important;
  background: #cbaa5d;
  border-radius: 40px;
}

.password div {
  flex-direction: column !important;
  margin-right: 10px;
}


/* brand-logo */

.brand-logo{
    margin-left: 73px;
    position: relative;
}
.ecclips{
    background: #1111!important;
    position: absolute;
    bottom: -100px;
    right: -100px;
    box-sizing: border-box;
    width: 184.88px;
    height: 190px;
    background: #FFFFFF;
}

/* popup */
.box-model{
  position: absolute !important;
  top: 22% !important;
  left: 32% !important;
  width: 666px;
  height: 469px;
  background: #111111;
  border: 7px solid #CBAA5D;
  box-shadow: 0px 0px 30px #000000;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-model div {
  text-align: center;
}
.box-model .center{
  margin-top: 30px;
}
.head-1{
  
  font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 120%;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #CBAA5D;
width: 240px;
height: 48px;

}
.head-2{
  width: 466px;
  height: 83px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #ECECEC;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.center-button{
  width: 100%;
  display: flex;
  justify-content: space-around !important;
  align-items: center !important;
}
#one{
  height: 49px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ECECEC !important;
  flex: none;
  order: 0;
  flex-grow: 0;
  border: 2px solid white;
  background-color: #111111 !important;
}
#two{  
  width: 209px;
  height: 49px;
  
  /* Gold */
  
  background: #CBAA5D;
  border-radius: 40px;
  
  /* Inside auto layout */
  
  flex: none;
  order: 1;
  flex-grow: 0;
}



@media screen and (min-width: 1024px)  and (max-width: 1690px){
  .brand-logo {
    margin-left: 29px;
    position: relative;
}
  .CenterForm {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 0px;
      margin-left: 0;
  }
.ecclips {
  background: #1111!important;
  position: absolute;
  bottom: -57px;
  right: 5px;
  box-sizing: border-box;
  width: auto;
  height: 120px;
  background: #FFFFFF;
}
}

@media screen and (min-width: 768px) and (max-width: 1690px) {

  
.form-container input[type="text"], .form-container input[type="email"], .form-container input[type="tel"], .form-container input[type="password"], .form-container input[type="file"] {
    width: 102%;
    margin-bottom: 0px;
    font-size: 13px;
}

  .brand-logo {
    margin-left: 16px;
    position: relative;
}

.form-container label {
  font-size: 13px;
}
.CenterForm {
  margin-right: 30px;
  margin-left: 24px;
}
.bird{
  height: 295px;
}
.ecclips {
  background: #1111!important;
  position: absolute;
  bottom: -58px;
  right: 0px;
  box-sizing: border-box;
  width: auto;
  height: 101px;
  background: #FFFFFF;
}
#submit-button {
  font-style: normal;
  font-weight: 550;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  width: 213px !important;
  height: 46px !important;
  background: #cbaa5d;
  opacity: 0.5;
  border-radius: 40px;
}
}

@media screen and (min-width: 768px) and (max-width: 1690px) {

  
.form-container input[type="text"], .form-container input[type="email"], .form-container input[type="tel"], .form-container input[type="password"], .form-container input[type="file"] {
    width: 102%;
    margin-bottom: 0px;
    font-size: 13px;
}

  .brand-logo {
    margin-left: 16px;
    position: relative;
}

.form-container label {
  font-size: 13px;
}
.CenterForm {
  margin-right: 30px;
  margin-left: 24px;
}
.bird{
  height: 295px;
}
.ecclips {
  background: #1111!important;
  position: absolute;
  bottom: -58px;
  right: 0px;
  box-sizing: border-box;
  width: auto;
  height: 101px;
  background: #FFFFFF;
}
#submit-button {
  font-style: normal;
  font-weight: 550;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  width: 213px !important;
  height: 46px !important;
  background: #cbaa5d;
  opacity: 0.5;
  border-radius: 40px;
}
}

@media screen and (max-width: 550px) and (max-width: 1690px) {
  .form-container label {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 150%;
    margin-bottom: 2px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ececec;
}


.CenterForm {
  display: block;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
}

.memory-text {
  margin-top: 75px !important;
}
.bird{
  height: 16rem;
}
.win-trophydiv {
  width: 100% !important;
}
.annual-skymet, .annual-skymet2 {
  font-weight: 600 !important;
  font-size: 33px !important;
  line-height: 12px !important;
}
.brand-logo {
  margin-left: 13%;
  margin-top: 7%;
  margin-right: 16%;
  margin-bottom: 15%;
  position: relative;
}
.ecclips{
  bottom: -46px;
  right: 22px;
  box-sizing: border-box;
  width: auto;
  height: 108px;
}
}

@media screen and (max-width: 425px) and (max-width: 1690px) {
.brand-logo {
  margin-left: 3%;
  margin-top: 2%;
  margin-bottom: 30%;
  position: relative;
}
.ecclips {
  bottom: -68px;
  right: -11px;
  box-sizing: border-box;
  width: auto;
  height: 108px;
}

}
@media screen and (max-width: 375px) and (max-width: 1690px) {

.ecclips {
  bottom: -68px;
  right: -57px;
  box-sizing: border-box;
  width: auto;
  height: 108px;
}
}