

.four-container{
    background-color: #fff;
}
.four-heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.four-heading span{
    /* font-family: 'Roboto'; */
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #111111;
width: 106px;
height: 47px;

margin-top: 80px;
}

.four-container img,.model-img{
    width: 120px;
    height: 120px;

    border-radius: 181.5px;

}
/* card */

.jury-card{
    
    margin-bottom: 90px;
    line-height: 3;
    padding: 20px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 452px;
height: 395px;
    background: #FFFFFF;
box-shadow: 0px 0px 30px rgba(233, 233, 233, 0.65);
border-radius: 20px;
margin-right: 20px;
margin-top: 20px;
}
.jury-card span{
    font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
letter-spacing: 0.06em;
text-transform: uppercase;

/* Black */
color: #111111;
width: 133px;
height: 23px;
}
.jury-card p{
    width: 412px;
height: 144px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 150%;
/* or 24px */

text-align: center;

/* Black */

color: #111111;
}
.read-more{
margin-top: 10px;
cursor: pointer;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
text-decoration-line: underline !important;
color: #CBAA5D !important;
flex: none;
order: 2;
flex-grow: 0;
}
.jury-inner{
    display: flex;
    justify-content: center;
    align-items: center;
}



@media screen and (min-width: 768px)  and (max-width: 1690px) {

    .jury-card 
    {
    margin-bottom: 31px;
    width: 347px;
    height: 432px;
    }
    
.jury-card p {
    width: 314px;
    font-size: 15px;
}
.jury-container{
    display: block !important;
}

}


@media screen and (max-width: 550px)  and (max-width: 1690px) {
.jury-card p {
width: 100%;
/* margin: 2%; */
}
.jury-card {
    align-items: center;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 30px hsla(0,0%,91%,.65);
    height: 395px;
    justify-content: center;
    line-height: 3;
    margin-bottom: 90px;
    margin-right: 0;
    margin-top: 20px;
    margin-left: 2%;
    padding: 20px;
    text-align: center;
    width: 373px;
}
.jury-container{
    display: none;
}
#jury-next {
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E) !important;
}
#jury-prev{
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E) !important;
}
}