

/* Main container */

.background-img{
  background: url("../images/rain.svg"),#111111 !important;
background-blend-mode: color-dodge;
}
.main-container {
  background: #111111;
}
.main-hr{
  /* width: 1352px; */
margin-left: 80px;
  height: 0px;
  margin-right: 80px;
border: 0.5px solid #CBAA5D;

}
.starthr{
  position: absolute;
  left: 29px;
}
/* centerheading */
.white-main{
  background: white !important;
}
.headding span {
  /* font-family: "Roboto"; */
  font-style: normal;
  color: #ececec;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headding {
  margin-top: 32px;
}
.headding .heading-1 {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  letter-spacing: 0.04em;
}
.headding .heading-2 {
    /* font-family: 'Roboto'; */
  font-weight: 700;
  font-size: 46px;
  line-height: 52px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #cbaa5d;
}

.hr-with-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 80px;
  height: 0px;
  margin-right: 80px;
border: 1px solid #CBAA5D;
}

.hr-with-image::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-image: url("../images/Starhr.svg");
  background-repeat: repeat-x;
  transform: translateY(-50%);
}





/* Navbar CSS */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 200px;
  margin-right: 200px;
  padding-top: 29px;
}

.navlogo {
  height: 74px;
  width: 131.55555725097656px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
}
.nav-links {
  display: flex;
  justify-content: space-between;
}
.nav-links li {
  display: inline-block;
  margin-right: 40px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ececec;
}

.nav-links li.last {
  margin-right: 0; /* Remove margin-right from the last li element */
}
.nav-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 30px;
  gap: 10px;
  width: 135px;
  color: black !important;
  height: 40px;
  background: #cbaa5d !important;
  border-radius: 50px !important;
}

.nav-button-2{
background: #111111 !important;
color: #ececec;
width: 200px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 14px 30px;
gap: 10px;
font-size: 10px !important;
border: 2px solid white !important;
height: 40px;
border-radius: 50px !important;
}


@media screen and (min-width: 768px) and (max-width: 1690px) {

.headding {
  margin-top: 24px;
}
.headding .heading-1 {
  font-weight: 100;
  font-size: 13px;
  line-height: 148%;
  letter-spacing: 0.04em;
}
.headding .heading-2 {
  text-align: center;
  font-weight: 600;
  font-size: 38px;
  line-height: 48px;
}

}

@media screen and (max-width: 846px) and (max-width: 1690px) {
  .headding span {
    display: block;
    margin-left: 20px;
  }

.display{
  display: none !important;
}
}