.main-container {
  background: #111111;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 200px;
  margin-right: 200px;
  padding-top: 29px;
}
.anchor{
  color: white;
  text-decoration: none;
}
.anchor:hover{
  color: white;
  text-decoration: none;
}
.navlogo {
  height: 74px;
  width: 131.55555725097656px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
}
.nav-links {
  display: flex;
  justify-content: space-between;
}
.nav-links li {
  display: inline-block;
  margin-right: 40px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ececec;
}

.nav-links li.last {
  margin-right: 0; /* Remove margin-right from the last li element */
}
.nav-button {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 30px;
  gap: 10px;
  width: 135px;
  color: black !important;
  height: 40px;
  background: #cbaa5d !important;
  border-radius: 50px !important;
}

/* centerpage css */

.memory-text {
  color: #ececec;
  font: "Roboto";
  font-size: 16px;
  line-height: 24px;
  margin-top: 196px;
  margin-left: 5px;
  line-height: 150%;
  letter-spacing: 0.02em;
  font-weight: 300;
}

.annual-skymet,
.annual-skymet2 {
  padding-top: 7px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 46px;
  margin-bottom: 5%;
  line-height: 15px;
  letter-spacing: 0.06em;
  color: #cbaa5d;
  /* width: 491px; */
}

.win-trophydiv {
  width: 26vw;
  background-color: black;
}

.win-trophy {
  background: #111111;
  color: white;
  padding-top: 334;
}

.register {
  width: 135px;
  height: 40px;
  border-radius: 50px;
  padding: 14px 30px 14px 30px;
  background: #cbaa5d;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #111111;
}

/* hover effect */
@import url(https://fonts.googleapis.com/css?family=Raleway:300);
:root {
  --btn-border: 1px solid rgba(255, 255, 255, 0.2);
  --btn-bg: transparent;
  --btn-shadow: 1px 1px 25px 10px rgba(255, 255, 255, 0.5);
  --btn-text-color: #f4f4f4;
  --shine-degree: 120deg;
  --shine-color: rgba(255, 255, 255, 0.2);
  --shine-effect: linear-gradient(var(--shine-degree), transparent, var(--shine-color), transparent);
  --shine-transition: all 0.65s ease-in-out;
}
.btn {
  position: relative;
  overflow: hidden;
  font-size: 1.1rem;
  padding: 1rem 3rem;
  border-radius: 4px;
  text-decoration: none;
  border: var(--btn-border);
  color: var(--btn-text-color);
  background: var(--btn-bg);
}
.btn:not(:last-child) {
  margin-bottom: 3rem;
}
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--shine-effect);
}
.btn-hover::before {
  left: -100%;
  transition: var(--shine-transition);
}
.btn-hover:hover {
  box-shadow: var(--btn-shadow);
}
.btn-hover:hover::before {
  left: 100%;
}
.btn-anim::before {
  animation: shine 5s ease-in-out infinite;
}
@keyframes shine {
  0% {
    left: -100%;
    transition-property: left;
  }
  11.5044247788%, 100% {
    left: 100%;
    transition-property: left;
  }
}
.btn-alt {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 60px;
  font-size: 1.1rem;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  text-decoration: none;
  border: var(--btn-border);
  color: var(--btn-text-color);
  background: var(--btn-bg);
}
.btn-alt:not(:last-child) {
  margin-bottom: 3rem;
}
.btn-alt::before, .btn-alt::after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
}
.btn-alt:before {
  background: rgba(255, 255, 255, 0.5);
  width: 60px;
  left: 0;
  filter: blur(30px);
  animation: shine-alt1  2s linear infinite;
}
.btn-alt:after {
  background: rgba(255, 255, 255, 0.2);
  width: 30px;
  left: 30px;
  filter: blur(5px);
  animation: shine-alt2  2s linear infinite;
}
@keyframes shine-alt1 {
  0% {
    opacity: 1; /* change opacity to a darker value */
    transform: translateX(-100px) skewX(-15deg);
    transition-property: opacity, transform;
  }
  11.5044247788%, 100% {
    opacity: 1; /* change opacity to a darker value */
    transform: translateX(300px) skewX(-15deg);
    transition-property: opacity, transform;
  }
}

@keyframes shine-alt2 {
  0% {
    opacity: 1;
    transform: translateX(-100px) skewX(-15deg);
    transition-property: opacity, transform;
  }
  11.5044247788%, 100% {
    opacity: 1;
    transform: translateX(300px) skewX(-15deg);
    transition-property: opacity, transform;
  }
}


@keyframes shine {
  0% {
    left: -100%;
    transition-property: left;
  }
  11.5044247788%, 100% {
    left: 100%;
    transition-property: left;
  }
}



/* categories css */

.CenterForm .nav-button-1 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  letter-spacing: 0.02em;
  text-transform: uppercase;
  /* padding: 14px 30px; */
  /* gap: 10px; */
  /* width: 101px; */
  width: 171px;
  height: 40px;
  margin-left: 20px;
  border-radius: 50px !important;
  border: 2px solid white;
  color: #ececec !important;
}

@media screen and (min-width: 1440px)  and (max-width: 1690px) {
  .nav-button {
    width: 120px !important;
  }
  .navbar {
    margin-left: 144px !important;
    margin-right: 164px !important;
  }
}

@media screen and (min-width: 1024px)  and (max-width: 1690px){
  .nav-button {
    width: 120px !important;
  }
  .navbar {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .nav-links li {
    margin-right: 44px !important;
  }
}

@media screen and (min-width: 668px)  and (max-width: 1690px){
  .nav-button {
    width: 120px !important;
  }
  .navbar {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .nav-links li {
    font-size: 14px !important;
    margin-right: 23px !important;
  }
  
  .memory-text {
    color: #ececec;
    font: "Roboto";
    font-size: 13px;
    line-height: 24px;
    margin-top: 77px;
    margin-left: 0px;
    line-height: 150%;
    letter-spacing: 0.02em;
    font-weight: 300;
}
.annual-skymet, .annual-skymet2 {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 27px;
    line-height: 15px;
    letter-spacing: 0.06em;
    color: #cbaa5d;
    /* width: 402px; */
}
.win-trophydiv {
    width: 51vw;
    background-color: black;
}
.outer-div{
    margin-left: 20px;
}

}

@media screen and (max-width: 667px)  and (max-width: 1690px){


  .annual-skymet, .annual-skymet2 {
    width: 100%;
  }

}

@media screen and (max-width:390px) {
  .annual-skymet2{
    line-height: 37px !important;
  }  
  .annual-skymet, .annual-skymet2 {
    margin-bottom: 2% !important;
  }
}